@model RPSAcademy.Models.DTOs.SubjectsAndQuestionsDisplayModel

<h1 style="text-align:center;">Viewing Questions</h1>
<h2 style="text-align:center;">in @Model.UserCreatedSubject.SubjectName</h2>
<hr style="margin-bottom:40px" />


<a href="@Url.Action("CreateUserCreatedQuestionForm", new { subjectId = @Model.UserCreatedSubject.Id })" class="btn btn-dark" style="margin-bottom: 20px;">Create New Question</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Question</th>
            <th scope="col">Answer A</th>
            <th scope="col">Answer B</th>
            <th scope="col">Answer C</th>
            <th scope="col">Answer D</th>
            <th scope="col">Correct Answer</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    @foreach (var question in Model.UserCreatedQuestions)
    {
        <tbody>
            <tr class="table-light">
                <td>@question.Question</td>
                <td>@question.AnswerA</td>
                <td>@question.AnswerB</td>
                <td>@question.AnswerC</td>
                <td>@question.AnswerD</td>
                <td>@question.CorrectAnswerText</td>
                <td>
                    <button type="button" onclick="getUserCreatedQuestion(@question.Id)" class="btn btn-secondary">Edit</button>
                    <button type="button" class="btn btn-danger" onclick="deleteUserCreatedQuestion(@question.Id, @Model.UserCreatedSubject.Id)">Delete</button>
                </td>
            </tr>
        </tbody>
    }
</table>


<script>
    function deleteUserCreatedQuestion(questionId, subjectId) {
        window.location.href = "/Question/DeleteUserCreatedQuestion?questionId=" + questionId + "&subjectId=" + subjectId;
    }

    function getUserCreatedQuestion(questionId) {
        window.location.href = "/Question/GetUserCreatedQuestion?questionId=" + questionId;
    }
</script>